{% extends 'base.jinja' %}

{% block content %}

    <h4>Can't wait to know you better...(sign in)</h4>
    <form action="", method ="post">    
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label}}<br>
            {{ form.username(size=32)}}
        </p>
        <p>
            {{ form.password.label}}<br>
            {{ form.password(size=32)}}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    
{% endblock %}